

@import 'varaibles';
@import 'nav';
@import 'contact';

* {
    margin: 0;
    padding: 0;
}


.xtraLinks {
    margin-top: 30px;
    a {
        text-decoration:none;
        color: $charcoal;
    }
}

